<!-- <div class="task-boards-cards-main">
  <div class="task-boards-cards-main-title">
    <h2>{{ cardRowHeader }}</h2>
    <span matBadge="4"></span>
  </div>
  <div
    class="task-boards-cards-sub"
    *ngFor="let oneCard of forCard"
    [id]="oneCard.cardTitle"
    cdkDropList
    (cdkDropListDropped)="drop($event, oneCard.id)"
  >
    <div class="card-holder" *ngIf="oneCard.type === cardRowHeader" cdkDrag>
      <div class="card-title">
        <span class="h3">{{ oneCard.cardTitle }}</span>
        <span class="card-title-sub">
     
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="task-icons"> more_vert </mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onBackLogTask()">
              Backlog Task
            </button>
            <button mat-menu-item (click)="onToDoTask()">To Do Task</button>
            <button mat-menu-item (click)="onInProgess()">In Progess</button>
            <button mat-menu-item (click)="onDone()">Done</button>
          </mat-menu>
        </span>
      </div>
      <div class="task-type">
        <div class="task-type-1">#U100{{ oneCard.taskType1 }}</div>
        <div class="task-type-2">{{ oneCard.taskType2 }}</div>
        <div class="task-type-3">{{ cardRowHeader }}</div>
      </div>
      <div class="last-section">
        <div>
          <img src="../../../assets/user-image.png" alt="Assigned-Persons" />
          <img src="../../../assets/user-image.png" alt="Assigned-Persons" />
          <img src="../../../assets/user-image.png" alt="Assigned-Persons" />
          <i class="material-icons">add_circle_outline</i>
        </div>
        <div class="last-section-icons">
          <mat-icon class="mat-icon"> attach_file </mat-icon>
          <span> 2 </span>
          <mat-icon class="mat-icon"> comment </mat-icon>
          <span>5</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
