<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="opened">
    <app-sidenav></app-sidenav>
  </mat-drawer>

  <mat-drawer-content>
    <p>
      <mat-toolbar color="primary">
        <button type="button" mat-button (click)="opened = !opened">
          <mat-icon>menu</mat-icon>
        </button>

        <span>My App</span>
        <span class="example-spacer"></span>
        <div class="links">
          <a>Dashboard</a>
          <a>My Tasks</a>
          <a>Reporting</a>
          <a>Portfolio</a>
          <a>Goals</a>
        </div>
      </mat-toolbar>
      <app-task-boards></app-task-boards>
    </p>
  </mat-drawer-content>
</mat-drawer-container>
