<div class="task-boards-main">
  <app-task-boards-header></app-task-boards-header>
  <div class="cards">
    <div class="cards-sub">
      <div>
        <app-task-boards-cards
          [cardRowHeader]="cardSectionTitle1"
        ></app-task-boards-cards>
      </div>
      <div>
        <app-task-boards-cards
          [cardRowHeader]="cardSectionTitle2"
        ></app-task-boards-cards>
      </div>
      <div>
        <app-task-boards-cards
          [cardRowHeader]="cardSectionTitle3"
        ></app-task-boards-cards>
      </div>
      <div>
        <app-task-boards-cards
          [cardRowHeader]="cardSectionTitle4"
        ></app-task-boards-cards>
      </div>
    </div>
  </div>
</div>
